:root {
    --textclr: rgb(72, 72, 72);
    --nintendored: rgb(230, 0, 18);
    --nintendohover: rgb(172, 0, 13);
    --nintendofont: 'Roboto', sans-serif;
    --boldtext: 700;
    --thintext: 100;
    --fontsize: 16px;
    --cardtitle: 1rem;
    --cardcontent: 0.75rem;
    --margin: 3rem 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--nintendofont);
    font-size: var(--fontsize);
    line-height: 1.4;
    color: var(--textclr);
}

.dividerstyle {
    display: flex;
    flex-wrap: nowrap;
    max-width: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    position: relative;
}

.dividerline {
    width: 100%;
    margin: 0px;
    position: relative;
    z-index: 5;
    border-width: 0.0625rem 0px 0px;
    border-bottom-style: initial;
    border-bottom-color: initial;
    border-left-style: initial;
    border-left-color: initial;
    border-right-style: initial;
    border-right-color: initial;
    border-top-style: solid;
    border-top-color: rgb(218, 218, 218);
    height: 0px;
    color: inherit;
}

#character-section {
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
    width: 100%;
}

.char-maincontainer {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    max-width: 71.5rem;
}

.char-gridcontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.charcont-title {
    grid-column: 1 / span 4;
    font-size: 1.75rem;
    font-weight: var(--boldtext);
    letter-spacing: 0px;
    margin: 0px 0px 1em;
    padding: 0px;
}

.char-wrapper {
    display: flex;
    flex-direction: column;
}

.char-img:hover {
    transform: scale(1.15);
    transition: 200ms ease-in-out 0s;
}

.char-wrapper:hover .bg-img {
    transform: scale(0.999);
}

.ch-mario,
.ch-zelda,
.ch-ac,
.ch-kirby {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

.bg-img {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    transition: transform 200ms ease-in-out 0s;
}

.char-img {
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: transform 200ms ease-in-out 0s;
    position: relative;
}

#character-section img {
    display: block;
    min-height: 1px;
    width: 100%;
}

.char-btmtitle {
    font-weight: var(--boldtext);
    letter-spacing: 0px;
    margin: 0px 0px 1em;
    padding: 0px;
    font-size: 1.3125rem;
}

@media only screen and (max-width: 768px) {
    #character-section {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .char-maincontainer {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .char-gridcontainer {
        grid-template-columns: repeat(2, 1fr);
    }
    .charcont-title {
        grid-column: 1 / span 2;
    }
}