:root {
    --textclr: rgb(72,72,72);
    --nintendored: rgb(230, 0, 18);
    --nintendohover: rgb(172, 0, 13);
    --nintendofont: 'Roboto', sans-serif;
    --boldtext: 700;
    --thintext: 100;
    --fontsize: 16px;
    --cardtitle: 1rem;
    --cardcontent: 0.75rem;
    --margin: 3rem 0;
}

.dividerstyle {
    display: flex;
    flex-wrap: nowrap;
    max-width: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    position: relative;
}

.dividerline {
    width: 100%;
    margin: 0px;
    position: relative;
    z-index: 5;
    border-width: 0.0625rem 0px 0px;
    border-bottom-style: initial;
    border-bottom-color: initial;
    border-left-style: initial;
    border-left-color: initial;
    border-right-style: initial;
    border-right-color: initial;
    border-top-style: solid;
    border-top-color: rgb(218, 218, 218);
    height: 0px;
    color: inherit;
}
