:root {
    --textclr: rgb(72,72,72);
    --nintendored: rgb(230, 0, 18);
    --nintendohover: rgb(172, 0, 13);
    --nintendofont: 'Roboto', sans-serif;
    --boldtext: 700;
    --thintext: 100;
    --fontsize: 16px:
    --cardtitle: 1rem;
    --cardcontent: 0.75rem;
    --margin: 3rem 0;
}